.emailList {
  flex: 1;
  overflow: scroll;
}
.emailSettings {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 1rem;
}
.emailSections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
